[submodule "themes/binario"]
	path = themes/binario
	url = https://github.com/vimux/binario
[submodule "themes/hugrid"]
	path = themes/hugrid
	url = https://github.com/aerohub/hugrid
[submodule "themes/grayscale"]
	path = themes/grayscale
	url = https://github.com/runningstream/hugograyscale.git
