<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
	{{ partial "team/head.html" . }}
	</head>
	<body>
		<div class="container">	
				{{ partial "team/header.html" . }}

			<div class="main">

				<h2 id="og-title-faculty" class="og-title">Current members</h2>

				<ul id="og-grid" class="og-grid">
					{{ range $.Site.Data.team.current_members }}
					<li>
						<a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
							<img src="{{.thumb}}" alt="{{.alt}}"/>
						</a>
					</li>
					{{ end }}
				</ul>

				<h2 id="og-title-rot-student" class="og-title">Past students</h2>

				<ul id="og-grid" id="og-grid" class="og-grid">
					{{ range $.Site.Data.team.past_students }}
					<li>
						<a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
							<img src="{{.thumb}}" alt="{{.alt}}"/>
						</a>
					</li>
					{{ end }}
				</ul>
	
				<h2 id="og-title-rot-collaborators" class="og-title">Collaborators</h2>

				<ul id="og-grid" id="og-grid" class="og-grid">
					{{ range $.Site.Data.team.collaborators }}
					<li>
						<a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
							<img src="{{.thumb}}" alt="{{.alt}}"/>
						</a>
					</li>
					{{ end }}
				</ul>


				{{ partial "team/footer.html" . }}
			</div>
		</div>
		{{ partial "team/scripts.html" . }}
	</body>
</html>